<!DOCTYPE html>
<html>
<head>
    <title>{{ pokemon.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{ pokemon.name }} #{{ pokemon.id }}</h1>
    <img src="{{ pokemon.image }}">
    <p>Type: {{ pokemon.types | join(", ") }}</p>
    <p>Height: {{ pokemon.height }}</p>
    <p>Weight: {{ pokemon.weight }}</p>

    <h2>Base Stats</h2>
    {% for stat_name, stat_value in pokemon.stats.items() %}
        {% include "stat_row.html" %}
    {% endfor %}

    <h2>Real Stats</h2>
    {% for stat_name, stat_value in pokemon.stats.items() %}
        {% if stat_name == "HP" %}
            {% set stat_value = stat_value + 75 %}
        {% else %}
            {% set stat_value = stat_value + 20 %}
        {% endif %}
        {% include "stat_row.html" %}
    {% endfor %}

    <a href="/">Search again</a>
</body>
</html>